# environment
.env
.env.local
.env.vercel

# prisma local db
*.db
*.db-journal
*.sqlite
*.sqlite-journal
/prisma/migrations/dev.db*

# dependencies
/node_modules

# next
/.next/
/out/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
devlog.txt
.codex-dev.*.log
nul

.vercel
